body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 1em;
}

#generateBtn {
    padding: 0.7em 3em;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.6s ease all;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    background-color: white;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
}

#generateBtn:hover {
    background-color: #19b87e;
}

#suggestion {
    font-size: 1.5em;
    margin-top: 1em;
}

.animation{
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    width:1000px;
    height:650px;
    background-color:rgb(7, 7, 7);

}
.curve-container{
    position:absolute;
}
.curve-container .bg{
 width:1000px;
 z-index:1;   
}

.food{
    position:absolute;
    left:10%;
}
.food .suggested-image{
   
    width:400px;
    height:400px;
    z-index:2;   
   }
  


